.grid-products{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
    width: 100%;
}
.grid-products .product{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}

.grid-products .product h3{
    background-color: var(--c_1);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-products .product h3 a{
    color:black;
}
.grid-products .product h3 a:hover{
    color:white;
}
.grid-products .product figure{
    text-align: center;
}
.grid-products .product figure img{
    border:1px solid grey
}
.grid-products .product .info-prod{
    background-color: var(--c_4);
}
.grid-products .product .info-prod p{
    font-weight:bold;
}

.info-products{
    background-color: var(--c_5);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.product{
    position: relative;
}
.select-cart{
    display: inline-block;
    background-color: var(--c_10);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.select-cart:hover{
    background-color: var(--c_5);
    border:1px solid  var(--c_1);
}

.selected{
    color:green;
    background-color: yellow;
    font-weight: bold;
}

.grid-element{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "column1 column2";
    width: 100%;
    align-items: stretch;
}

.column2{
    grid-area: column2;
    /*text-align: center;*/
    display: block;
    margin: 20px
}

.column1{
    grid-area: column1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--gap)
}

.column1 img{
    width: 75%;
}

.val{
    display: inline-block;
    color: var(--c_-1);
    border: 2px solid var(--c_13);
    border-radius: 40%;
    background-color: var(--c_3);
    padding: 5px;
    margin-bottom: 5px;
}

.charact{
    font-weight: bold;
}
select[multiple] option:checked {
    background-color: var(--c_2);
}
select[multiple] {
    width: 250px;
    height: 120px;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
}

#filters{
    padding-top: 50px;
    padding-bottom: 50px;
}