main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-products{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
.grid-products .product{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}

.grid-products .product h3{
    background-color: var(--c_1);
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-products .product h3 a{
    color:black;
}
.grid-products .product h3 a:hover{
    color:white;
}
.grid-products .product figure{
    text-align: center;
}
.grid-products .product figure img{
    border:1px solid grey
}
.grid-products .product .info-prod{
    display:flex;
    background-color: var(--c_4);
}
.grid-products .product .info-prod p{
    width:30%;
    text-align:center;
    font-weight:bold;
}

.grid-products .product p.category{

    text-align:center;
    font-weight:bold;
}

.info-products{
    background-color: var(--c_5);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.product{
    position: relative;
}
.select-cart{
    display: inline-block;
    background-color: var(--c_10);
    position:absolute;
    bottom:0.5rem;
    right:0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    padding:0.3rem;
    border:1px solid transparent;
}

.select-cart:hover{
    background-color: var(--c_5);
    
    border:1px solid  var(--c_1);
}

.selected{
    color:green;
    background-color: yellow;
    font-weight: bold;
}