<!DOCTYPE html>
<html lang="en">
<head>
    <!--Metas-->
    <meta name="keywords" content="tea, teas, teahouse, tea delivery, relaxation, warm atmosphere, tea subscriptions, tealab, TeaLab">
    <meta name="description" content="Discover a cozy tea house offering a curated selection of premium teas, handcrafted accessories, and immersive tasting experiences. Enjoy expertly brewed teas, explore our collection, and join exclusive tea workshops and events.">

    <%- include("../fragments/head.ejs") %>

    <!--Title-->
    <title>TeaLab</title>
</head>
<body>


<%- include("../fragments/header.ejs")%>



<main>

    About us!
    Nothing much yet :(

</main>



<%- include("../fragments/footer.ejs")%>

</body>
</html>