<footer id="footer">

    <p id="banner">This is a school project!</p>

    <a href="#" title="Go to top" id="link-top"><div id="shape"></div></a>

    <section id="providers">
        <h4>Where we get our products</h4>
        <p>Main provider: <a href="https://dorelplant.ro/" target="_blank">Dorel Plant</a></p>
    </section>

    <section id="bibliography">
        <h4>Bibliography</h4>
        <ul>
            <li><a href="https://comenzi.farmaciatei.ro/" target="_blank">Tei Pharmacy</a></li>
            <li><a href="https://dorelplant.ro/" target="_blank">Dorel Plant</a></li>
        </ul>
    </section>

    <address>
        <p><i class="fa-solid fa-phone"></i> Phone: <a href="tel:+40123456789">+40 123 456 789</a></p>

        <p><i class="fa-solid fa-map-pin"></i> Address: <a href="https://maps.google.com/?q=Facultatea+de+Matematica+si+Informatica" target="_blank"> Find us here</a></p>

        <p><i class="fa-solid fa-envelope"></i> Email: <a href="mailto:tea@lab.com">tea@lab.com</a></p>

        <p><i class="fa-solid fa-comments"></i>
            Chat:
            <a href="https://discord.gg/ChxRtkZb" target="_blank">Join us on Discord</a> |
            <a href="https://wa.me/40123456789" target="_blank">Chat on WhatsApp</a>
        </p>

    </address>

    <small>&copy;
        <time datetime="2025-03-01">March 2025</time>
        All rights reserved.
    </small>
</footer>