<p id="watermark">Tablet<br>Valeriu-Ionut</p>

<header id="nav">

    <h1>TeaLab</h1>

    <nav>
        <label id="hamburger" for="ch-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <input id="ch-menu" type="checkbox">

        <ul class="nav-list">
            <li><a href="home">
                    <i class="fa-solid fa-house"></i>
                    <div class="text-icon">Home</div>
                </a></li>

            <li><a href="/home#products">Products</a><ul>
                    <li><a href="/home#teas">Teas</a></li>
                    <li><a href="/home#accessories">Accessories</a></li>
                    <li><a href="/home#gifts">Gifts</a></li>
                </ul></li>

            <li><a href="/home#services">Services</a><ul>
                    <li><a href="/home#subs">Subscriptions</a></li>
                    <li><a href="delivery.html">Delivery</a></li>
                </ul></li>

            <li><a href="about">General info</a></li>
        </ul>
    </nav>

</header>